body {
    background: #BC0000;
    color: black;
    font-family: Open Sans;
    font-size: 1.5em;
}

.quiz-item {
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.test {
    background: blue;
    color: red;
}

.old {
    pointer-events: none;
}


/* General Styling */
.quiz__wrapper a {
    text-decoration: none;
    color: black;
}

.question__wrapper {
    width: 70%;
}

.question__wrapper .item {
    position: relative;
    background: #FFC600;
    margin: 1em;
    padding: 1.4em 4.4em;
}

.question__wrapper .item a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10; /* Places the link above everything else in the div */
    display: flex;
    align-items: center;
    justify-content: center;
}

.question__wrapper .item.question {
    margin: 1em 0.5em;
}

.question__wrapper .item .option:hover {
    box-shadow: 5px 5px 0px black;
    transition: box-shadow 0.15s ease-out;
}

/* Animations */
@keyframes check {
    from {
        width: 5em;
        height: 5em;
        opacity: 0;
    }

    to {
        width: 2em;
        height: 2em;
        opacity: 1;
    }
}

.correct {
    display: inline-block;
    border: 5px solid green;
    border-radius: 100%;
    content: '';
    position: absolute;
    width: 2em;
    height: 2em;
    top: 8%;
    right: 5%;
    animation: check 0.8s;
}

.correct:before {
    content: "";
    position: absolute;
    background-color: green;
    width: 60%;
    height: 5px;
    transform: rotate(-45deg);
    right: 15%;
    top: 45%;
}

.correct:after {
    content: "";
    position: absolute;
    background-color: green;
    width: 25%;
    height: 5px;
    transform: rotate(45deg);
    right: 58%;
    top: 57%;
}

.incorrect {
    display: inline-block;
    border: 5px solid red;
    border-radius: 100%;
    content: '';
    position: absolute;
    width: 2em;
    height: 2em;
    top: 8%;
    right: 5%;
    animation: check 0.8s;
}

.incorrect:before {
    content: "";
    position: absolute;
    background-color: red;
    width: 60%;
    height: 5px;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -2px;
}

.incorrect:after {
    content: "";
    position: absolute;
    background-color: red;
    width: 60%;
    height: 5px;
    transform: rotate(45deg);
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -2px;
}







