body {
    background: #BC0000;
    color: black;
    font-family: Open Sans;
    font-size: 1.5em;
}

.quiz-item {
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.test {
    background: blue;
    color: red;
}


/* General Styling */
.quiz__wrapper a {
    text-decoration: none;
    color: black;
}

.question__wrapper {
    width: 70%s;
}

.question__wrapper .item {
    position: relative;
    background: #FFC600;
    margin: 1em;
    padding: 1.4em 4.4em;
}

.question__wrapper .item a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10; /* Places the link above everything else in the div */
    display: flex;
    align-items: center;
    justify-content: center;
}

.question__wrapper .item.question {
    margin: 1em 0.5em;
}

.question__wrapper .item .option:hover {
    box-shadow: 5px 5px 0px black;
    transition: box-shadow 0.15s ease-out;
}

.question__wrapper .item .correct {
    position: absolute;
    width: 10%;
    height: 75%;
    left: 70%;
    top: 85%;
}

/* Animations */
@keyframes check {
    0% {
        height: 0;
        width: 0;
    }

    33.3333% {
        width: 30%;
        height: 0;
    }
}

/*.correct {
    clear: both;
    position: absolute;
    width: 75%;
    height: 40%;
    top: 10%;
    left: 30%;
    display: block;
}*/


/*.correct:after {
    -webkit-animation: check .8s;
    -moz-animation: check .8s ;
    -o-animation: check .8s;
    animation: check .8s;
}*/

.correct {
    transform: scaleX(-1) rotate(135deg);
    transform-origin: right top;
    animation: check .8s;
    /*border: 5px solid green;*/
    border-right: 5px solid green;
    border-top: 5px solid green;
    content: '';
    position: relative;
    top: 2%;
    /*right: 2%;*/






